<h1>New Message</h1>

<% if @message.errors.any? %>
  <p>Something went wrong:</p>
  <ul>
    <% @message.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @message do |f| %>

  <p>Contacts:</p>
    <%= f.fields_for :checked_boxes do |cb| %>
      <% Contact.all.each do |s| %>
        <%= cb.check_box(s.name) %>
        <%= s.name %><br />
      <% end %>
    <% end %>


  <%= f.hidden_field :from, :value => current_user.id %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
